
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

::-webkit-scrollbar {width: 0; background: none;}

#cards {
    width: 100%; height: 100vh; max-height: fit-content;
    display: flex; justify-content: center; align-items: center;
    flex-wrap: wrap; 
}

#first__card, #second__card, #third__card { 
    width: 300px; height: 500px; padding: 40px;
    display: flex; flex-direction: column; align-items: flex-start; justify-content: space-around;
}

#first__card{
    border-radius: 12px 0 0 12px;
    background: #E28525;
}

#first__card button {
    color: #E28525;
}

#first__card button:hover {
    color: #F2F2F2;
}

#second__card {
    background: #016972;
}

#second__card button {
    color: #016972;
}

#second__card button:hover {
    color: #F2F2F2;
}

#third__card {
    border-radius: 0 12px 12px 0;
    background: #00403F;
}

#third__card button {
    color: #00403F;
}

#third__card button:hover {
    color: #F2F2F2;
}

/*  */
h2 {font-family: 'Bebas Neue', cursive; letter-spacing: 1.5px; font-weight: normal; font-size: 40px; color: #ffffff; margin-top: 10px;}

p {font-family: 'Montserrat', sans-serif; font-size: 16px; text-align: left; line-height: 25px; color: #e6e6e6; }

button {
    width: 160px; height: 50px; margin-top: 80px;
    border-radius: 50px; border: 2px solid #F2F2F2; outline: none;
    font-size: 16px; font-weight: 500; letter-spacing: 1px;
    background: #F2F2F2; -webkit-transition: all 500ms;
}

button:hover { transition: all 500ms; background: none; }

footer{
    width: 100%; height: 50px; 
    display: flex; align-items: center; justify-content: center;
}

.attribution {font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 11px; text-align: center;}
.attribution a { color: #f54242; }

/*  */
@media (max-width: 900px) { 

    #cards { scroll-snap-type: y mandatory; overflow-y: auto; max-height: 100vh;}

    #first__card, #second__card, #third__card{
        width: 100%; height: 100vh; border-radius: 0;
        scroll-snap-align: start;
    }

    h2 { font-size:50px;}

    p { font-size:  20px; line-height: 30px; }

    button {width: 200px; margin-bottom: 80px;}
    
}